<nav class="navbar">
  <ul class="navlink">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>

<div style="margin: 20px;">
  <h2>Reactive Form Example</h2>

  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" formControlName="firstName">
      <div *ngIf="userForm.get('firstName')?.dirty && userForm.get('firstName')?.invalid">
        <small *ngIf="userForm.get('firstName')?.hasError('required')" class="error-message">First Name is required.</small>
      </div>
    </div>

    <div>
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" formControlName="lastName">
      <div *ngIf="userForm.get('lastName')?.dirty && userForm.get('lastName')?.invalid">
        <small *ngIf="userForm.get('lastName')?.hasError('required')" class="error-message">Last Name is required.</small>
      </div>

    </div>
    <div>
      <label for="password">Password:</label>
      <input id="password" formControlName="password">
      <div *ngIf="userForm.get('password')?.dirty && userForm.get('password')?.invalid">
        <small *ngIf="userForm.get('password')?.hasError('required')" class="error-message">Password is required.</small>
      </div>

    </div>
    <div>
      <label for="confirmpassword">Confirm Password:</label>
      <input id="confirmpassword" formControlName="confirmpassword">
      <small *ngIf="userForm.errors?.['mismatch']" class="error-message">
        Passwords do not match

      </small>

    </div>

    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email">
      <div *ngIf="userForm.get('email')?.dirty && userForm.get('email')?.invalid">
        <small *ngIf="userForm.get('email')?.hasError('required')" class="error-message">Email is required.</small>
        <small *ngIf="userForm.get('email')?.hasError('email')" class="error-message">Invalid email address.</small>
      </div>

    </div>

    <button type="submit" [disabled]="!userForm.valid">Submit</button>
  </form>
</div>
